@media screen and (max-width: 600px) 
{
    .image 
    {
        width: 100vw;
        height: 30vh;
    }
    .slogan 
    {
        position: absolute;
        left: 15vw;
        top: 50vh;
        width: 70vw;
        font-size: 3.7vh;
        font-weight: 600;
        text-align: center;
    }
    .logo 
    {
        position: absolute;
        left: 15vw;
        top: 35vh;
        width: 70vw;
    }
    .button 
    {
        position: absolute;
        left: 15vw;
        bottom: 20vh;
        width: 70vw;
        height: 10vh;
        background-color: #1FAB89;
        color: #9DF3C4;
        border: none;
        border-radius: 10px;
        font-size: 5vh;
    }
} 
@media screen and (min-width: 600px) 
{
    
}
body 
{
    margin: 0px;
    font-family: "Gothic A1", sans-serif
}