.brand-selection-form {
    padding: 3vh;
    background-color: #f9f9f9;
    border-radius: 8px;
    width: 85%;
    margin-left: -2%;
    margin-top: 3vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .brand-selection-form h2 {
    font-size: 2.5vh;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .checkbox-label {
    font-size: 2vh;
    color: #555;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  
  .checkbox-label input {
    margin-right: 2vw;
    width: 6vw;
    height: 6vw;
  }
  