.brand-selection-form {
  padding: 3vh;
  background-color: #f9f9f9;
  border-radius: 8px;
  width: 70% !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px; /* Set a max-width for larger screens */
}

.brand-selection-form h2 {
  font-size: 2.5vh;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkbox-label {
  font-size: 2vh;
  color: #555;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.checkbox-label input {
  margin-right: 2vw;
  width: 2vw;
  height: 2vw;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .brand-selection-form {
    width: 95%;
    padding: 3vh;
  }

  .brand-selection-form h2 {
    font-size: 2vh;
    margin-bottom: 15px;
  }

  .checkbox-label {
    font-size: 1.8vh;
  }

  .checkbox-label input {
    width: 7vw; /* Adjust size for smaller screens */
    height: 7vw;
  }
}

@media (max-width: 480px) {
  .brand-selection-form {
    padding: 4vh;
  }

  .brand-selection-form h2 {
    font-size: 1.8vh;
  }

  .checkbox-label {
    font-size: 1.6vh;
  }

  .checkbox-label input {
    width: 8vw; /* Further adjustment for very small screens */
    height: 8vw;
  }
}
