@media screen and (max-width: 600px) 
{
    .body 
    {
        position: absolute;
        left: 7.5vw;
        top: 5vh;
        width: 85vw;
        height: 8vh;
        background-color: #FFE6BC;
        border-radius: 10px;
    }
    .logo 
    {
        position: absolute;
        left: 3vw;
        top: 1.75vh;
        width: 25vw;
    }
    .icon 
    {
        margin-right: 3vw;
        margin-top: 1.75vh;
        width: 10vw;
        height: 10vw;
    }
    .user_circle 
    {
        margin-right: 3vw;
        margin-top: 1vh;
        width: 6vh;
        height: 6vh;
        background-color: #E4CDA7;
        border-radius: 50%;
    }
    .search input 
    {
        background-color: #FFE6BC;
        margin-left: 3%;
        margin-top: 1vh;
        width: 75%;
        height: 5vh;
        border: none;
        border-radius: 15px;
        font-size: 2vh;
        padding-left: 10px;
    }
    .search button 
    {
        margin-left: 2vw;
        margin-top: 1vw;
        width: 15vw;
        height: 13vw;
        background-color: #1FAB89;
        border: none;
        border-radius: 10px;
    }
    .search button .icon 
    {
        margin-right: 0;
        margin-top: 0.3vh;
    }
}
@media screen and (min-width: 600px) 
{
    
}