@media screen and (max-width: 600px) 
{
    .body
    {
        margin-top: 16vh;
    }
    .box
    {
        background-color: #F5F5F5;
        width: 79vw;
        margin-left: 7.5vw;
        margin-top: 3vh;
        border-radius: 15px;
        padding: 3vw;
    }
    .box h1 
    {
        font-size: 2vh;
        text-align: center;
    }
    .box img 
    {
        margin-left: 5%;
        width: 90%;
        height: 30vh;
    }
    .box .sale 
    {
        background-color: #E4CDA7;
        width: 10vw;
        height: 10vw;
        border-radius: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 2vh;
        font-weight: 600;
    }
    .box .sale p 
    {
        position: relative;
        top: 0.3vh;
    }
}
@media screen and (min-width: 600px) 
{
    
}