@media screen and (max-width: 600px) 
{
    .body
    {
        margin-top: 16vh;
    }
    .filter  
    {
        margin-left: 7.5vw;
        font-size: 2.5vh;
        padding-left: 3vw;
        padding-right: 3vw;
        background-color: #F5F5F5;
        border: none;
        border-radius: 10px;
    }
    .filter img 
    {
        margin-top: 2.5vh;
        margin-right: 1vw;
        width: 7vw;
    }
    .filter_modal h1
    {
        font-size: 3vh;
    }
    .filter_modal button 
    {
        margin-top: 3vh;
        background-color: #1FAB89;
        color: #9DF3C4;
        width: 85%;
        height: 7vh;
        border: none;
        border-radius: 10px;
        font-size: 3.2vh;
    }
    .box
    {
        background-color: #F5F5F5;
        width: 79vw;
        margin-left: 7.5vw;
        margin-top: 3vh;
        border-radius: 15px;
        padding: 3vw;
    }
    .box h1 
    {
        font-size: 2vh;
        text-align: center;
    }
    .box img 
    {
        margin-left: 5%;
        width: 90%;
        height: 30vh;
    }
    .box .sale 
    {
        background-color: #E4CDA7;
        width: 10vw;
        height: 10vw;
        border-radius: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 2vh;
        font-weight: 600;
    }
    .box .sale p 
    {
        position: relative;
        top: 0.3vh;
    }
}
@media screen and (min-width: 600px) 
{
    
}