@media screen and (max-width: 600px) 
{
    .body
    {
        margin-top: 16vh;
    }
    .box
    {
        background-color: #F5F5F5;
        width: 79vw;
        margin-left: 7.5vw;
        margin-top: 3vh;
        border-radius: 15px;
        padding: 3vw;
        padding-top: 2vh;
    }
    .box h1 
    {
        margin-top: 1vh;
        font-size: 2.5vh;
        text-align: center;
        font-weight: 400;
    }
    .box img 
    {
        margin-left: 2vw;
        margin-right: 2vw;
        width: 5vh;
        height: 5vh;
    }
    .box button 
    {
        background-color: #E4CDA7;
        border: none;
        padding: 1.5vh;
        border-radius: 10px;
        font-size: 2.5vh;
    }
}
@media screen and (min-width: 600px) 
{
    .body
    {
        margin-left: 7.5vw;
        margin-top: 16vh;
    }
    .box
    {
        display: inline-block;
        background-color: #F5F5F5;
        width: 20vw;
        margin-right: 2vw;
        margin-top: 3vh;
        border-radius: 15px;
        padding: 1vw;
    }
    .box h1 
    {
        font-size: 3vh;
        text-align: center;
    }
    .box button 
    {
        padding: 0.75vw !important;
    }
}