@media screen and (max-width: 600px) 
{
    .image 
    {
        width: 100vw;
        height: 30vh;
    }
    .slogan 
    {
        position: absolute;
        left: 15vw;
        top: 50vh;
        width: 70vw;
        font-size: 3.7vh;
        font-weight: 600;
        text-align: center;
    }
    .logo 
    {
        position: absolute;
        left: 15vw;
        top: 35vh;
        width: 70vw;
    }
    .button 
    {
        position: absolute;
        left: 15vw;
        top: 70vh;
        width: 70vw;
        height: 10vh;
        background-color: #1FAB89;
        color: #9DF3C4;
        border: none;
        border-radius: 10px;
        font-size: 5vh;
    }
} 
@media screen and (min-width: 600px) 
{
    .image 
    {
        position: absolute;
        left: 0;
        top: 0;
        width: 55vw;
        height: 100vh;
    }
    .logo 
    {
        position: absolute;
        right: 11vw;
        top: 10vh;
    }
    .slogan 
    {
        position: absolute;
        right: 0;
        width: 45vw;
        text-align: center;
        top: 33vh;
    }
    .button 
    {
        position: absolute;
        right: 17vw;
        text-align: center;
        top: 53vh;
        background-color: #1FAB89;
        color: #9DF3C4;
        border: none;
        border-radius: 10px;
        font-size: 3vw;
        padding-left: 3vw;
        padding-right: 3vw;
        padding-top: 3vh;
        padding-bottom: 3vh;
    }
}
body 
{
    margin: 0px;
    font-family: "Gothic A1", sans-serif
}
button:hover 
{
    cursor: pointer;
}